<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.trinition.alfred.logseq</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>org.trinition.alfred.logseq.setkey.keyword</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>org.trinition.alfred.logseq.setkey.script</string>
			</dict>
		</array>
		<key>org.trinition.alfred.logseq.ls.keyword</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>org.trinition.alfred.logseq.main.script</string>
			</dict>
		</array>
		<key>org.trinition.alfred.logseq.setkey.script</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>org.trinition.alfred.logseq.setkey.notification</string>
			</dict>
		</array>
		<key>org.trinition.alfred.logseq.main.script</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>org.trinition.alfred.logseq.main.notification</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Trinition</string>
	<key>description</key>
	<string>Allows manipulating of your local LogSeq from Alfred.</string>
	<key>icon</key>
	<string>icon.png</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LogSeq</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ls</string>
				<key>subtext</key>
				<string>Enter your journal entry</string>
				<key>text</key>
				<string>Add to LogSeq Journal</string>
				<key>titlesort</key>
				<string>Add to LogSeq Journal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>org.trinition.alfred.logseq.ls.keyword</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string><![CDATA[
##MAIN_LOGIC_SCRIPT##
]]></string>
				<key>scripttype</key>
				<integer>0</integer>
				<key>shell</key>
				<string>/bin/bash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>org.trinition.alfred.logseq.main.script</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastfm</key>
				<false/>
				<key>openURL</key>
				<false/>
				<key>revealFinder</key>
				<false/>
				<key>showAlfred</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LogSeq</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>org.trinition.alfred.logseq.main.notification</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ls-setkey</string>
				<key>subtext</key>
				<string>Paste your LogSeq API key after the keyword</string>
				<key>text</key>
				<string>Set LogSeq API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>org.trinition.alfred.logseq.setkey.keyword</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string><![CDATA[
##SET_KEY_SCRIPT##
]]></string>
				<key>scripttype</key>
				<integer>0</integer>
				<key>shell</key>
				<string>/bin/bash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>org.trinition.alfred.logseq.setkey.script</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastfm</key>
				<false/>
				<key>openURL</key>
				<false/>
				<key>revealFinder</key>
				<false/>
				<key>showAlfred</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LogSeq</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>org.trinition.alfred.logseq.setkey.notification</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Adds entries to your LogSeq daily journal via the HTTP API.</string>
	<key>uidata</key>
	<dict>
		<key>org.trinition.alfred.logseq.main.script</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>140</integer>
			<key>note</key>
			<string>Main Logic</string>
		</dict>
		<key>org.trinition.alfred.logseq.ls.keyword</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>org.trinition.alfred.logseq.main.notification</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>org.trinition.alfred.logseq.setkey.keyword</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>org.trinition.alfred.logseq.setkey.script</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>560</integer>
			<key>note</key>
			<string>Save API Key to Keychain</string>
		</dict>
		<key>org.trinition.alfred.logseq.setkey.notification</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>api_endpoint</key>
		<string>http://127.0.0.1:12315/api</string>
		<key>journal_date_format</key>
		<string>ordinal</string>
	</dict>
	<key>webaddress</key>
	<string>https://logseq.com</string>
</dict>
</plist>
